@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: /* definir */;
    --color-grey-1: #191C1F;
    --color-grey-2: #212529;
    --color-pink-1: #ee6c97;
    --color-purple-1: #6605c5;
    --color-white-1: #f6f7f8;
    


}